version: '3.8'

services:
  visit-php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    working_dir: /var/www
    volumes:
      - ./app:/var/www
    networks:
      - visit

  visit-nginx:
    image: nginx:latest
    ports:
      - "8095:80"
    volumes:
      - ./app:/var/www
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./docker/nginx/mime.types:/etc/nginx/conf/mime.types
      - ./docker/nginx/fastcgi.conf:/etc/nginx/snippets/fastcgi-php.conf
    networks:
      - visit

  visit-db:
    image: postgres:16
    environment:
      POSTGRES_USER: visit
      POSTGRES_PASSWORD: visit
      POSTGRES_DB: visit
    ports:
      - "5460:5432"
    volumes:
      - ./docker/postgres/data:/var/lib/postgresql/data
      - ./docker/postgres/cert:/var/lib/postgresql/certs
    networks:
      - visit

  mail-mozz:
    image: mailhog/mailhog
    ports:
      - "8025:8025" # веб-интерфейс
      - "1025:1025" # SMTP
    networks:
      - visit

networks:
  visit:
    driver: bridge
